
html{
    height:100%;
    width: 100%;
    display: flex;
}
body{
    background-color: #272635;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.formulaire{
    background-color: #F0BCD4;
    width: 280px;
    border-radius: 20px;
    padding: 20px;

}
form{
    width:100%;
}

#idNom{
    position: relative;
    height: 40px;
    border-radius: 20px;
    width:100%;
    background-color:rgba(255,255,255,0.5);
    border: none;
    margin-bottom: 10px;
    padding-left: 10px;
}
.peau{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}
.choixOption{
    height: 40px;
    border-radius: 20px;
    width: 100%;
    border: none;
    background-color:rgba(255,255,255,0.5);
    padding-left: 10px;
    margin-bottom: 10px;
}

select{
    appearance: none;
}

.btn{
    height: 40px;
    border-radius: 20px;
    background-color: white;
    width: 100%;
    border: none;
}
.none{
    display: none;
}
#game{
    display: none;
}
.partie{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.joueur{
    width: 50%;
    background-color: purple;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.nomJoueur{
   color: white; 
   font-size: 3em;
   margin: 20px;
   display: flex;
   justify-content: center;
}
.cpu{
    width: 50%;
    background-color: pink;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
}
.nomCpu{
    color: white;
    font-size: 3em;
    margin: 20px;
    display: flex;
    justify-content: center;
}
.choixJoueur{
    font-size: 10em;
    display: flex;
    justify-content: center;
    transform: translateY(-150%);
}
.choixCpu{
    font-size: 10em;
    display: flex;
    justify-content: center;
    transform: translateY(-150%);
}
.resultat{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.btnRejouer{
    background-color: white;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: none;
    transform: translateX(30%);
}
.score{
    
    margin-bottom: 20px;
    font-size: 4em;
    color: white;
}
.wrapResultat{
    display: flex;
    justify-content: center;
    position:absolute;
    width: 100%;
    bottom: 20px;
}